*,
    ::after,
    ::before{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    :root{
        --white:white;
        --black:black;
    }
    body{
        display: grid;
        min-height: 100px;        
    }
    h1{
        font-size: 4rem;
    }
    main{
        min-height: 721px;
        text-align: center;
        background-color: rgb(236, 250, 250);
    }
    .box{
        margin-top: 200px;
        text-transform: capitalize;
        font-family: Arial;
        
    }
    .number{
        font-size: 6rem;
        align-items: center;
    }
    .btn{
        background: transparent;
        text-transform: uppercase;
        font-family: Arial;
        font-size: 0.8rem;
        font-weight: 600;
        padding: 8px;
        letter-spacing: 5px;
        border: 2px solid var(--black);
        border-radius: 0.5rem;
        transition: 0.5s;
        margin-right: 10px;
        margin-top: 10px;
        cursor: pointer;
    }
    .btn:hover{
        color: var(--white);
        background-color: var(--black);
    }